<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- My css -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script>
      function closeModal(id) {
        id.style.display = 'none';
        id.style.opacity = '0';
      }

      function send_request_image(){
          const formData = new FormData();
          //formData.append('file', )
          //console.log(base64ToBlob(localStorage.getItem('imgData')))
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/home", true)
          xhr.setRequestHeader("Content-Type", "application/json")
          xhr.onreadystatechange = () => { // Call a function when the state changes.
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              closeModal(document.getElementById('modalUpload'))
              console.log(xhr.responseText)
              response_json = JSON.parse(xhr.responseText)
              if (response_json.name && response_json.risultato) {
                document.getElementById('exampleModalCenter').style.display='block'
                document.getElementById('exampleModalCenter').style.opacity='1'
                document.getElementById("btn_go_disease").style.visibility='visible'
                console.log(response_json.risultato)
                if (response_json.risultato == "sana"){
                  document.getElementById("btn_go_disease").style.visibility='hidden'
                }
                document.getElementById('img_disease').src = response_json.name
                document.getElementById("type_disease").innerHTML = "La pianta è "+response_json.risultato
              }
            }
          }
          xhr.send(JSON.stringify({ data : localStorage.getItem('imgData').split(',')[1], file_type: localStorage.getItem('imgData').split(':')[1].split(';')[0].split('/')[1]}))
          console.log("fine send request")
      }

      function base64ToBlob(base64){
        const splitDataURI = base64.split(',')
        const byteString = splitDataURI[0].indexOf('base64') >= 0 ? atob(splitDataURI[1]) : decodeURI(splitDataURI[1])
        const mimeString = splitDataURI[0].split(':')[1].split(';')[0]

        const ia = new Uint8Array(byteString.length)
        for (let i = 0; i < byteString.length; i++)
            ia[i] = byteString.charCodeAt(i)

        return new Blob([ia], { type: mimeString })
      }
 

      function go_correct_disease(){
        
        text_disease = document.getElementById('type_disease').textContent.split("da ")[1].toLowerCase()
        console.log(text_disease)
        for (let i = 1; i <= 10 ; i++) {
          
          text_dis_title = document.getElementById("d"+i).getElementsByClassName("text-muted")[0].innerText.toLowerCase()
          console.log(text_dis_title)
          if(text_dis_title == text_disease){
            closeModal(document.getElementById('exampleModalCenter'))
            document.getElementById("d"+i).scrollIntoView();
            break
          }
        }

      }

      document.addEventListener("DOMContentLoaded", function(){
        document.getElementById('load_button').onclick = function(event){
          
          document.getElementById('modalUpload').style.display='block'
          document.getElementById('modalUpload').style.opacity='1'

          console.log(document.getElementById("file").files[0])

          
          if(document.getElementById("file").files[0]){
              var reader = new FileReader();
              reader.onload = function(e){
                document.getElementById('img_load').src = e.target.result;
                localStorage.setItem("imgData", e.target.result)
              }
              reader.readAsDataURL(document.getElementById("file").files[0]);
          } 

        }
    })


      /* document.addEventListener("DOMContentLoaded", function(){
        document.getElementById('file').onchange = function(event) {
          console.log("sono qui")
          document.getElementById('modalUpload').style.display='block'
          document.getElementById('modalUpload').style.opacity='1'
          
          if(event.srcElement.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
              document.getElementById('img_load').src = e.target.result;
              localStorage.setItem("imgData", e.target.result)
            }
            reader.readAsDataURL(event.srcElement.files[0]);
          }
        }
      }) */

      
    </script>

    <title>TomatoMalato</title>
</head>
<body>

  <!--Header-->
  <header class="site-header sticky-top py-1">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home" id="btn-nav">Tomato Malato</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home" id="btn-nav">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#insert" id="btn-nav">Inserire immagine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#disease" id="btn-nav">Informazioni malattie</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/logout" id="btn-nav">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  </header>
  <!--Header-->




  <!--Main-->
  <main>

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="insert">

      <div>
          <h1 class = "display-1" id="title">Tomato Malato</h1>
      </div>
      <div class="px-4 py-5 my-5 text-center" id="div_all">
          <h1 style = "margin-bottom:2rem;" class="display-5 fw-bold" id="text_load_image">Carica l'immagine delle foglie della pianta</h1>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" id="form_insert">
              <!-- <form id="load_form" enctype=multipart/form-data>
                  <input id="file" type=file name=file accept=".png, .jpg, .jpeg">
                  <button type="submit">Carica</button>
              </form> -->
              <!--<form id="load_form" >-->
                <input class="btn btn-secondary" id="file" type=file name=file accept=".png, .jpg, .jpeg">
                <button class="btn btn-secondary" id="load_button" > Carica </button>
              <!--</form>-->

          </div>
          
          {% with message = get_flashed_messages() %}
          {% if message %}
              <ul class=flashes>
              <script>
                  alert("{{ message }}");
              </script>
              </ul>
          {% endif %}
          {% endwith %}

          <!-- Modal Deseases -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Result</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="closeModal(document.getElementById('exampleModalCenter'))">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <div class="overflow-hidden" style="margin-top: 3rem;">
                    <div class="container px-5">
                        <h3 id="type_disease"></h3>
                        <img id="img_disease" class="img-fluid border rounded-3 shadow-lg mb-4" style="width: 50%">
                        <br>
                        <button class="btn btn-secondary" id="btn_go_disease" onclick="go_correct_disease()">Visualizza informazioni</button>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal(document.getElementById('exampleModalCenter'))">Close</button>
                </div>
              </div>
            </div>
          </div>

        <!--Modal load-->  
        <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalUploadLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" onclick="closeModal(document.getElementById('modalUpload'))">&times;</span>
                </button>
              </div>
              <div class="modal-body">
      
                <div class="overflow-hidden" style="margin-top: 3rem;">
                  <div class="container px-5">
                      <h3>Sei sicuro di utilizzare questa immagine?</h3>
                      <img id="img_load" class="img-fluid border rounded-3 shadow-lg mb-4" style="width: 50%">
                  </div>
                </div>
      
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="send_request_image()">Carica</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal(document.getElementById('modalUpload'))">Chiudi</button>
              </div>
            </div>
          </div>
        </div>
  </div>

  </div>

  


  <hr class="featurette-divider">


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="disease">

    <h2>Tipi di malattie che possono colpire i pomodori</h2>
    <div class="row">


      <div class="col-lg-4">
        <img src="../static/Info_Images/Bacterial_spot.JPG" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Macchia fogliare batterica</h2>
        <p><a class="btn btn-secondary" href="#d1">Vedi dettagli</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img src="../static/Info_Images/Early_blight.JPG" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Peronospora precoce</h2>
        <p><a class="btn btn-secondary" href="#d2">Vedi dettagli</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img src="../static/Info_Images/Late_blight.JPG" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Peronospora tardiva</h2>
        <p><a class="btn btn-secondary" href="#d3">Vedi dettagli</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img src="../static/Info_Images/Leaf_Mold.JPG" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Muffa delle foglie</h2>
        <p><a class="btn btn-secondary" href="#d4">Vedi dettagli</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img src="../static/Info_Images/powdery_mildew.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Muffa polverosa</h2>
        <p><a class="btn btn-secondary" href="#d5">Vedi dettagli</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img src="../static/Info_Images/Septoria_leaf_spot.JPG" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Macchia fogliare della Septoria</h2>
        <p><a class="btn btn-secondary" href="#d6">Vedi dettagli</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img src="../static/Info_Images/Spider_mites Two-spotted_spider_mite.JPG" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Ragnetto rosso</h2>
        <p><a class="btn btn-secondary" href="#d7">Vedi dettagli</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img src="../static/Info_Images/Target_Spot.JPG" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Macchia target</h2>
        <p><a class="btn btn-secondary" href="#d8">Vedi dettagli</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img src="../static/Info_Images/Tomato_mosaic_virus.JPG" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Virus del mosaico</h2>
        <p><a class="btn btn-secondary" href="#d9">Vedi dettagli</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img src="../static/Info_Images/Tomato_Yellow_Leaf_Curl_Virus.JPG" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Virus dell'arricciamento fogliare giallo</h2>
        <p><a class="btn btn-secondary" href="#d10">Vedi dettagli</a></p>
      </div><!-- /.col-lg-4 -->


    </div>

  </div>

  <hr class="featurette-divider">


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="d1">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Macchia fogliare batterica</span></h2>
        <p class="lead">
          <ul>
            <li>Sintomi di danno: <br>
              <ul>
              <li>Il clima umido e le piogge a pioggia favoriscono lo sviluppo della malattia. La maggior parte dei focolai della malattia può essere ricondotta ai forti temporali che si verificano nella zona.</li>
              <li>Le foglie infette presentano piccole macchie circolari brune, impregnate d'acqua e circondate da un alone giallastro.</li>
              <li>Sulle piante più vecchie l'infezione fogliare riguarda soprattutto le foglie più vecchie e può causare gravi defogliazioni.</li>
              <li>I sintomi più evidenti si manifestano sui frutti verdi. All'inizio compaiono piccole macchie imbevute d'acqua, che in seguito si sollevano e si ingrandiscono fino a raggiungere un diametro di un ottavo o un quarto di pollice.</li>
              <li>I centri di queste lesioni diventano irregolari, di colore marrone chiaro e leggermente infossati, con una superficie ruvida e scabbiosa.</li>
              <li>I frutti maturi non sono sensibili alla malattia. La superficie del seme si contamina con il batterio, che rimane sulla superficie del seme per qualche tempo.</li>
              <li>L'organismo sopravvive in ospiti alternativi, su piante di pomodoro volontarie e su detriti vegetali infetti.</li>
              </ul>
            <li>Sopravvivenza e diffusione: <br>
              <ul>
                <li>Primaria: le cellule batteriche sopravvivono su detriti vegetali e semi infetti (sia internamente che esternamente) e anche su piante infestanti solanacee come Solanum nigrum.</li>
                <li>Secondaria: le cellule batteriche si trasmettono attraverso gli spruzzi di pioggia.</li>
              </ul>
            </li>

            <li>Condizioni favorevoli: <br>
              <ul>
                <li>Tempo umido e piogge a spruzzo</li>
                <li>Elevata umidità o rugiada persistente.</li>
              </ul>
            </li>
          </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../static/Info_Images/Bacterial_spot.JPG">
      </div>
    </div>


  </div>


  <hr class="featurette-divider">


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="d2">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Peronospora precoce</span></h2>
        <p class="lead">
          <ul>
            <li>Sintomi di danno: <br>
              <ul>
                <li>È una malattia comune del pomodoro che si manifesta sul fogliame in qualsiasi fase della crescita.</li>
                <li>Il fungo attacca il fogliame causando le caratteristiche macchie fogliari e la peronospora. La peronospora precoce si osserva per la prima volta sulle piante come piccole lesioni nere, per lo più sul fogliame più vecchio.</li>
                <li>Le macchie si ingrandiscono e quando raggiungono un diametro di un quarto di pollice o più, al centro dell'area malata si notano anelli concentrici a forma di occhio di bue.</li>
                <li>Il tessuto che circonda le macchie può ingiallire. Se in questo periodo si verificano temperature e umidità elevate, gran parte del fogliame viene ucciso.</li>
                <li>Le lesioni sui fusti sono simili a quelle sulle foglie e a volte avvolgono la pianta se si verificano vicino alla linea del suolo.</li>
                <li>I trapianti infettati dal fungo della peronospora tardiva spesso muoiono quando vengono messi in campo. Il fungo infetta anche i frutti, generalmente attraverso il calice o l'attaccatura dello stelo.</li>
                <li>Le lesioni raggiungono dimensioni considerevoli, di solito coinvolgono quasi tutto il frutto; sul frutto sono presenti anche anelli concentrici.</li>
              </ul>
          <li>Sopravvivenza e diffusione: <br>
            <ul>
              <li>Primaria: il fungo trascorre l'inverno in detriti vegetali infetti all'interno o sul terreno, dove può sopravvivere per almeno uno e forse più anni. Può anche essere trasportato dai semi.</li>
              <li>Secondaria: le spore sono trasportate da acqua, vento, insetti, altri animali, compreso l'uomo, e macchinari. Una volta che le infezioni iniziali si sono verificate, diventano la fonte più importante di produzione di nuove spore e sono responsabili della rapida diffusione della malattia.</li>
            </ul>
          </li>

          <li>Condizioni favorevoli: <br>
            <ul>
              <li>Clima caldo, piovoso e umido</li>
            </ul>
          </li>
        </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../static/Info_Images/Early_blight.JPG">
      </div>
    </div>


  </div>



  <hr class="featurette-divider">


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="d3">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Peronospora tardiva</span></h2>
        <p class="lead">
          <ul>
            <li>Sintomi e danno</li>
            <ul>
              <li>La peronospora tardiva è una malattia potenzialmente grave della patata e del pomodoro ed è causata dall'agente patogeno Phytophthora infestans.
              <li>La peronospora tardiva è particolarmente dannosa quando il tempo è fresco e umido. </li>
              <li>Questo patogeno può colpire tutte le parti della pianta. </li>
              <li>Le lesioni delle foglie giovani sono piccole e si presentano come macchie scure e impregnate d'acqua. </li>
              <li>Queste macchie fogliari si allargano rapidamente e ai margini dell'area colpita compare una muffa bianca sulla superficie inferiore delle foglie. </li>
              <li>La defogliazione completa (imbrunimento e raggrinzimento di foglie e steli) può avvenire entro 14 giorni dai primi sintomi. </li>
              <li>I frutti di pomodoro infetti sviluppano lesioni lucide, scure o color oliva, che possono coprire ampie aree. </li>
              <li>Le spore fungine si diffondono tra le piante e i giardini con la pioggia e il vento.</li>
              <li>Una combinazione di temperature diurne superiori ai 70° C e di umidità elevata è ideale per l'infezione. </li></li>
            </ul>
            <li>Prevenzione e trattamento: <br>
              <ul>
                <li>Mantenere il fogliame asciutto. Posizionare il giardino in modo che riceva il sole del mattino.</li>
                <li>Lasciate un po' di spazio tra le piante ed evitate di annaffiare dall'alto, soprattutto in tarda mattinata.</li>
                <li>Acquistate semi e piante certificate esenti dalla malattia.</li>
                <li>Distruggete le piante di pomodoro e di patata spontanee e le piante infestanti della famiglia della belladonna, come il cavallino della Carolina o la belladonna nera, che possono ospitare il fungo.</li>
                <li>Non compostate le patate marce acquistate in negozio.</li>
                <li>Estraete e distruggete le piante malate.</li>
                <li>Se la malattia è abbastanza grave da giustificare un controllo chimico, scegliete uno dei seguenti fungicidi: clorotalonil (molto buono), fungicida a base di rame o mancozeb (buono). Vedere la Tabella 1 per esempi di prodotti fungicidi per uso domestico. Seguite le indicazioni riportate sull'etichetta.</li>
                <li>Piantare cultivar resistenti.</li>
              </ul>
            </li>
          </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../static/Info_Images/Late_blight.JPG">
      </div>
    </div>


  </div>


  <hr class="featurette-divider">


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="d4">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Muffa fogliare</span></h2>
        <p class="lead">
          <ul>
            <li>Sintomi di danno: <br>
              <ul>
                <li>Il fungo Passalora fulva causa la muffa fogliare. 
                <li>Si osserva per la prima volta sulle foglie più vecchie vicino al terreno, dove il movimento dell'aria è scarso e l'umidità è elevata. </li>
                <li>I sintomi iniziali sono macchie verde pallido o giallastre sulla superficie superiore della foglia, che si allargano e assumono un caratteristico colore giallo.</li>
                <li>In condizioni di umidità, le macchie sulla superficie inferiore delle foglie si ricoprono di una crescita grigia e vellutata delle spore prodotte dal fungo. </li>
                <li>Quando l'infezione è grave, le macchie si uniscono e il fogliame muore. Occasionalmente, il fungo attacca steli, fiori e frutti. I frutti verdi e maturi possono presentare un marciume nero e coriaceo all'estremità dello stelo.</li>
              </ul>
          <li>Sopravvivenza e diffusione: <br>
            <ul>
              <li>Il fungo sopravvive sui residui colturali e nel terreno.</li>
              <li>Le spore si diffondono con la pioggia, il vento o gli attrezzi.</li>
              <li>I semi possono essere contaminati.</li>
              <li>Il fungo dipende da un'elevata umidità relativa e da temperature elevate per lo sviluppo della malattia.</li>
            </ul>
          </li>
          
          <li>Condizioni favorevoli: <br>
            <ul>
              <li>I residui colturali devono essere rimossi dal campo. I pali e le potature per aumentare la circolazione dell'aria aiutano a controllare la malattia. Distanziare maggiormente le piante di pomodoro per favorire la circolazione dell'aria tra le piante. Evitare di bagnare le foglie quando si annaffia. Effettuare la rotazione con ortaggi diversi dal pomodoro. L'uso di un programma fungicida preventivo con clorotalonil, mancozeb o rame può controllare la malattia. Vedere la Tabella 1 per i prodotti fungicidi da utilizzare negli orti domestici.</li>
            </ul>
          </li>
        </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../static/Info_Images/Leaf_Mold.JPG">
      </div>
    </div>


  </div>



  <hr class="featurette-divider">


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="d5">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Muffa polverosa</span></h2>
        <p class="lead">
          <ul>
            <li>Sintomi di danno: <br>
              <ul>
                <li></li>
                <li></li>
              </ul>
          <li>Sopravvivenza e diffusione: <br>
            <ul>
              <li>Primaria: </li>
              <li>Secondaria: </li>
            </ul>
          </li>

          <li>Condizioni favorevoli: <br>
            <ul>
              <li></li>
            </ul>
          </li>
        </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../static/Info_Images/powdery_mildew.jpg">
      </div>
    </div>


  </div>



  <hr class="featurette-divider">


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="d6">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Macchia fogliare della Septoria</span></h2>
        <p class="lead">
          <ul>
            <li>Sintomi di danno: <br>
              <ul>
                <li></li>
                <li></li>
              </ul>
          <li>Sopravvivenza e diffusione: <br>
            <ul>
              <li>Primaria: </li>
              <li>Secondaria: </li>
            </ul>
          </li>

          <li>Condizioni favorevoli: <br>
            <ul>
              <li></li>
            </ul>
          </li>
        </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../static/Info_Images/Septoria_leaf_spot.JPG">
      </div>
    </div>


  </div>



  <hr class="featurette-divider">


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="d7">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Ragnetto rosso</span></h2>
        <p class="lead">
          <ul>
            <li>Sintomi di danno: <br>
              <ul>
                <li></li>
                <li></li>
              </ul>
          <li>Sopravvivenza e diffusione: <br>
            <ul>
              <li>Primaria: </li>
              <li>Secondaria: </li>
            </ul>
          </li>

          <li>Condizioni favorevoli: <br>
            <ul>
              <li></li>
            </ul>
          </li>
        </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../static/Info_Images/Spider_mites Two-spotted_spider_mite.JPG">
      </div>
    </div>


  </div>



  <hr class="featurette-divider">


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="d8">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Macchia target</span></h2>
        <p class="lead">
          <ul>
            <li>Sintomi di danno: <br>
              <ul>
                <li></li>
                <li></li>
              </ul>
          <li>Sopravvivenza e diffusione: <br>
            <ul>
              <li>Primaria: </li>
              <li>Secondaria: </li>
            </ul>
          </li>

          <li>Condizioni favorevoli: <br>
            <ul>
              <li></li>
            </ul>
          </li>
        </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../static/Info_Images/Target_Spot.JPG">
      </div>
    </div>


  </div>



  <hr class="featurette-divider">


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="d9">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Virus del mosaico</span></h2>
        <p class="lead">
          <ul>
            <li>Sintomi di danno: <br>
              <ul>
                <li></li>
                <li></li>
              </ul>
          <li>Sopravvivenza e diffusione: <br>
            <ul>
              <li>Primaria: </li>
              <li>Secondaria: </li>
            </ul>
          </li>

          <li>Condizioni favorevoli: <br>
            <ul>
              <li></li>
            </ul>
          </li>
        </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../static/Info_Images/Tomato_mosaic_virus.JPG">
      </div>
    </div>


  </div>




  <hr class="featurette-divider">


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="d10">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Virus dell'arricciamento fogliare giallo</span></h2>
        <p class="lead">
          <ul>
            <li>Sintomi di danno: <br>
              <ul>
                <li></li>
                <li></li>
              </ul>
          <li>Sopravvivenza e diffusione: <br>
            <ul>
              <li>Primaria: </li>
              <li>Secondaria: </li>
            </ul>
          </li>

          <li>Condizioni favorevoli: <br>
            <ul>
              <li></li>
            </ul>
          </li>
        </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../static/Info_Images/Tomato_Yellow_Leaf_Curl_Virus.JPG">
      </div>
    </div>


  </div>



  </main>
  <!--Main-->



  <!-- Footer -->
  <footer class="container py-5" id="footer">
    <div class="row">
      <div class="col-12 col-md">
        <img src="favicon.ico" style="width: 30px; height:30px; align-items: center;">
        <p id="btn-nav">Tomato Malato</p>
      </div>
      <div class="col-6 col-md">
        <h5 id="btn-nav">Features</h5>

      </div>
      <div class="col-6 col-md">
        <h5 id="btn-nav">Resources</h5>
      </div>
      <div class="col-6 col-md">
        <h5 id="btn-nav">About</h5>
      </div>
    </div>
  </footer>
  <!-- Footer -->

</body>