
* {
    color: black;
    font-family: "Helvetica", "Arial", sans-serif;
    border-spacing: 15px;
}

option{
    color: #9b2335;

}

button{
    color: #9b2335;
    font-family: "Helvetica", "Arial", sans-serif;
    background: #ffffff;
    border: 1.5px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
    vertical-align: top;
}

button:hover {
    color: #ffffff;
    background: #9b2335;
    border-color: #9b2335;
    transition: all 0.4s ease 0s;
}
