.bg-dark {
    background-color: #800102!important;
}

#title{
    color: #800102!important;
    text-align: center;
    font-family: "Lucida Console";
}

header{
    background-color: #800102;
}

.navbar {
    background-color: #800102!important;
}

.pb-1, .py-1 {
    padding-bottom: 0px!important;
}

.pt-1, .py-1 {
    padding-top: 0px!important;
}

.mb-4, .my-4 {
    margin-bottom: 0px!important;
}

.m-md-3 {
    margin: 0px!important;
}

main{
    height: max-content;
}

#insert{
    background-image: url("img/pomodori.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    height: 100vh;
}

.modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
}

.p-md-5 {
    padding: 5rem!important;
}

.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    text-align: left;
}

.col-lg-4 {
    flex: 0 0 33,333333%;
    max-width: 33,333333%;
    margin-top: 60px;
}

#btn-nav{
    color:aliceblue;
    text-decoration: none;
    background-color: transparent;
}